$gray: #9b9b9b;

$dark: #0c0c0d;
$white: #f1f1f2;

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  svg {
    width: 22px;
    height: 22px;
    padding: 10px;
    color: $white;
    background-color: hsl(240, 4%, 95%, 20%);
    border-radius: 10px;
    margin: 4px;
  }
  background-color: $dark;
  // margin-bottom: 20px;
  h3 {
    color: $white;
    margin: 0 auto;
    padding: 0px 10px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-radius: 28px 28px 0 0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: rgb(228, 77, 38);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -50px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.lesson-number {
  width: 50px;
  height: 42px;
  border-radius: 10px;
  margin: 4px;
  h3 {
    font-style: italic;
  }
}

.menu-icon {
  display: flex;
  justify-content: center;
}
.modal {
  width: 100vw;
  height: 100vh;
  background-color: #0c0c0d;
}
.close-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 22px;
  height: 22px;
  padding: 10px;
  color: $white;
  background-color: hsl(240, 4%, 95%, 20%);
  border-radius: 10px;
  margin: 4px;
}
.close-icon:hover {
  cursor: pointer;
}
