$dark: #030303;
$white: #f1f1f2;

.btn-lesson {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  width: 80%;
  margin: 10px 10%;
  border: 0;
}
