$gray: #9b9b9b;

$dark: #0c0c0d;
$white: #f1f1f2;

.lesson-container {
  background-color: $dark;
  margin: 0 auto;
  height: calc(100vh - 130px);
  width: 100vw;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin: -1px;
    text-align: center;
  }
  .lesson-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0px auto !important;
    margin-bottom: 10px !important;
  }
  p {
    padding: 10px;

    text-align: center;
    color: $white;
  }
}

.lesson-container::-webkit-scrollbar {
  display: none;
}
