$gray: #9b9b9b;
$dark: #0c0c0d;
$white: #f1f1f2;

.quiz-container {
  background-color: $dark;
  background: url("../../images/stars.png");
  background-size: contain;
  height: calc(100vh - 55px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .trophy {
    height: 150px;
    margin-bottom: 20px;
  }
  h2 {
    color: $white;
    text-align: center;
    margin: 5px 0;
  }
  h3 {
    padding: 20px 0;
    cursor: pointer;
  }
  .quiz-result {
    margin-top: 0;
  }
}
