$gray: #9b9b9b;

$dark: #0c0c0d;
$white: #f1f1f2;

.quiz-container {
  background-color: $dark;
  height: 100vh;
  width: 100vw;
  h2,
  h3 {
    color: $white;
    text-align: center;
  }
  .answer-button {
    margin-top: 25px;
  }
}
