$dark: #0c0c0d;
$white: #f1f1f2;
$gray: #9b9b9b;

.courses-container {
  background-color: $dark;
  margin: 0 auto;
  height: calc(100vh - 55px);
  width: 100vw;
  display: flex;
  color: #fff;
  flex-direction: column;
  // justify-content: center;
  .welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    .welcome-user {
      h3 {
        font-size: 2.3rem;
        font-weight: bold;
        margin: 0px;
        text-align: center;
        b {
          color: rgb(255, 255, 255, 50%);
        }
      }
    }
    img {
      width: 70px;
      height: 70px;
      margin-left: 20px;
    }
  }
  .question-text {
    font-size: 2.1rem;
    font-weight: bold;
    margin: 0px;
    margin: 40px 10%;
    text-align: center;
    color: rgb(255, 255, 255, 50%);
    b {
      color: #fff;
    }
  }
  .courses-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    width: 80%;
    margin: 3% 10%;
    border-radius: 10px;

    .courses-icon {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      .courses-small-image {
        width: 38px;
        background-color: $white;
        padding: 7px;
        border-radius: 10px;
      }
    }

    h4 {
      width: 60%;
      margin: 20px 0;
      // font-family: "Bodoni Moda", serif !important;
    }
    h5 {
      width: 15%;
      // color: $gray;
      font-size: 0.9em;
      font-family: "Bodoni Moda", serif !important;
      margin: 20px 0;
    }
  }
}
