$dark: #0c0c0d;
$white: #f1f1f2;
$gray: #9b9b9b;

.courses-container {
  background-color: $dark;
  margin: 0 auto;
  height: calc(100vh - 55px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .courses-big-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin: 0px auto !important;
    margin-bottom: 10px !important;
  }
  .courses-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    width: 80%;
    margin: 3% 10%;
    border-radius: 10px;

    .courses-icon {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      .courses-small-image {
        width: 30px;
        background-color: $white;
        padding: 10px;
        border-radius: 10px;
      }
    }

    h4 {
      width: 60%;
      // font-family: "Bodoni Moda", serif !important;
    }
    h5 {
      width: 15%;
      // color: $gray;
      font-size: 0.9em;
      font-family: "Bodoni Moda", serif !important;
    }
  }
}
