$gray: #9b9b9b;

$dark: #0c0c0d;
$white: #f1f1f2;

.nav-container {
  img {
    width: 30px;
    padding: 10px;
  }
  height: 10%;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}
