$dark: #0c0c0d;
$white: #f1f1f2;
.form-container {
  height: 60vh;
}
.auth-container {
  margin: 5% 0;
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 142px;
    margin: 0px auto !important;
    margin-bottom: 10px !important;
  }
  color: $white;
  form {
    color: $white;
  }
  .MuiButton-startIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    .google-icon {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0 !important;
    }
  }
}
